.iMac {
  width: 500px;
  margin: 50px 0;
}

.iMac .body {
  height: 300px;
  background: #ddd;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  box-shadow: inset 0px -2px 0px #909090;
}

.iMac .body .shine {
  width: 0;
  height: 0;
  border-top: 75px solid rgba(255, 255, 255, 0.04);
  border-bottom: 75px solid transparent;
  border-left: 140px solid transparent;
  border-right: 140px solid rgba(255, 255, 255, 0.04);
  position: absolute;
}

.iMac .body .screen {
  height: 250px;
  border: 10px solid #000;
  transition: all ease 0.2s;
  /*background: #444;*/
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 0px 0px;
}

.iMac .body .screen h1 {
  padding: 0;
  text-align: center;
  font-size: 150%;
  color: #fff;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.iMac .body #logo {
  cursor: pointer;
  width: 16px;
  height: 16px;
  border-radius: 100px;
  background: #bbb;
  margin: 5px auto 0 auto;
  box-shadow: inset 0px 2px 0px rgba(0, 0, 0, 0.2);
}

.iMac .stand {
  width: 50px;
  height: 25px;
  background: #aeaeae;
  border: 20px solid #007398;
  border-top: 0;
  border-bottom: 20px solid #c5c5c5;
  border-radius: 5px;
  box-shadow: 0px 4px 0px -2px #909090;
  margin: 0 auto;
}

.task {
  background: white;
  border-radius: 5px;
  border: 3px solid black;
  margin: 20px;
  padding: 20px;
}
