body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  background: #007398;
  color: white;
  padding: 0 30px;
}

.block {
  text-align: center;
  background: white;
  border-radius: 3px;
  padding: 20px;
  color: black;
  margin: 20px;
}

ul li {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
}

.linkWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a.link {
  color: cornflowerblue;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid cornflowerblue;
  padding: 5px 10px;
  margin: 20px;
  display: inline-block;
  border-radius: 3px;
}

.leaflet-container {
  width: 100%;
  height: 400px;
}

.goal {
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 3px;
}

button {
  background: #007398;
  color: white;
  font-weight: bold;
  padding: 10px 10px;
  margin: 20px 20px;
  cursor: pointer;
  border: 1px solid #007398;
  border-radius: 5px;
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.imgWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.exampleImg {
  border: 2px solid #007398;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  max-width: 40%;
  object-fit: contain;
}

form > fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  align-items: center;
  max-width: 55ch;
  margin-inline: auto;
  padding: 1rem;
  border-radius: 5px;
  border: 2px solid #007398;
}

legend {
  background-color: #007398;
  color: white;
  border-radius: 5px;
  padding: 0.5rem;
  text-transform: uppercase;
}

form fieldset div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding-inline: 2rem;
}

input,
textarea {
  width: 100%;
  resize: none;
  border: 1px solid #007398;
  border-radius: 5px;
  padding: 0.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: inherit;
}

.postsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.blogPost {
  background-color: #007398;
  border-radius: 5px;
  width: 30ch;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.blogPost h4 {
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: none;
}

.blogPost p {
  box-sizing: border-box;
  background-color: white;
  border-radius: 5px;
  padding: 0.5rem;
  margin-inline: auto;
  flex-grow: 1;
  width: 100%;
}
